https://ieeexplore.ieee.org/document/7815641/
https://ieeexplore.ieee.org/document/1232733/
https://ieeexplore.ieee.org/document/8049173/
https://ieeexplore.ieee.org/document/8491163/
https://ieeexplore.ieee.org/document/6912278/
https://ieeexplore.ieee.org/document/199033/
https://ieeexplore.ieee.org/document/1393410/
https://ieeexplore.ieee.org/document/6636737/
https://ieeexplore.ieee.org/document/1232729/
https://ieeexplore.ieee.org/document/8491162/
https://ieeexplore.ieee.org/document/8049156/
https://ieeexplore.ieee.org/document/7320458/
https://ieeexplore.ieee.org/document/1531047/
https://ieeexplore.ieee.org/document/8491151/
https://ieeexplore.ieee.org/document/6345833/
https://ieeexplore.ieee.org/document/8491143/
https://ieeexplore.ieee.org/document/8370425/
https://ieeexplore.ieee.org/document/667812/
https://ieeexplore.ieee.org/document/8491181/
https://ieeexplore.ieee.org/document/491447/
https://ieeexplore.ieee.org/document/7765539/
https://ieeexplore.ieee.org/document/6912274/
https://ieeexplore.ieee.org/document/7815606/
https://ieeexplore.ieee.org/document/8501280/
https://ieeexplore.ieee.org/document/7765556/
